Hallo ${email},

vielen Dank für deine Anmeldung.
Um deine Anmeldung zu bestätigen klicke bitte auf den folgenden Link:
${linkActivate}

Falls Sie sich nicht angemeldet haben sollten, klicken Sie bitte auf folgenden Link um Ihr Profil zu löschen
${linkDelete}

Viele Grüße,
Ihr Team