package ${model.javaDTOPackageName};

import lombok.*;

import java.math.BigDecimal;
import java.util.Date;

@Data
@ToString
@EqualsAndHashCode
@NoArgsConstructor
@AllArgsConstructor
@Builder(toBuilder=true)
public class ${model.javaDTOClazzSimpleName} {

#foreach( $property in $model.properties )
    private ${property.propertyType.javaTypeSimpleName} ${property.name};
#end

}