package ${model.objects[0].projectDTO.javaPackageName};

import lombok.*;

import javax.persistence.*;
import java.util.Date;
import java.math.BigDecimal;

#if($model.objects[0].useJPAIdClazz)@IdClass(${model.objects[0].javaIdClazzSimpleName}.class)#end
@Entity
@Table(name = "${model.objects[0].tableName}")
@Data
@ToString
@Builder(toBuilder = true)
@EqualsAndHashCode
@NoArgsConstructor
@AllArgsConstructor
public class ${model.objects[0].javaClazzSimpleName} {
#foreach( $property in $model.objects[0].properties )
    ${property.jpaPropertyAnnotations}
    private #if(${property.propertyType.javaTypeSimpleName}=='TYPE_DATE_ISO8601')Date#else${property.propertyType.javaTypeSimpleName}#end ${property.name};
#end

}