package ${model[0].javaPackageName};

import lombok.*;

import javax.persistence.*;

import java.io.Serializable;

@Data
@ToString
@EqualsAndHashCode
@NoArgsConstructor
@AllArgsConstructor
@Embeddable
public class ${model[0].javaIdClassName} implements Serializable {

    #foreach( $columnReference in $model[0].columnReferences )
        #set( $importedKeyReference = $model[0].getImportedKeyReference($columnReference) )
        #if(${importedKeyReference})
        @ManyToOne
        @JoinColumn(name ="${importedKeyReference.fkColumnName}")
        private ${importedKeyReference.javaPkClassName} ${importedKeyReference.javaPkFieldName};
        #else
        @Column(name = "${columnReference.columnName}")
        private ${columnReference.javaType} ${columnReference.javaFieldName};
        #end

    #end
}