package ${model[0].javaPackageName};

import lombok.*;

import javax.persistence.*;

@Entity
@Table(name = "${model[0].tableReference.tableName}"#if(${model[0].tableReference.tableCat}), catalog="${model[0].tableReference.tableCat}"#end#if(${model[0].tableReference.tableSchema}), schema="${model[0].tableReference.tableSchema}"#end)
@Data
@ToString
@Builder(toBuilder = true)
@EqualsAndHashCode
@NoArgsConstructor
@AllArgsConstructor
#if(${model[0].associationOverrides})
@AssociationOverrides({
    #foreach( $columnImportedReference in $model[0].columnImportedKeyReferencesIdFields )
        @AssociationOverride(name = "id.${columnImportedReference.javaPkFieldName}",
                joinColumns = @JoinColumn(name = "${columnImportedReference.fkColumnName}")),
    #end
})
#end
public class ${model[0].javaClassName} {

    #if(${model[0].idClazz})
    @EmbeddedId
    ${model[0].javaIdClassName} id;
    
    #end
    #foreach( $columnReference in $model[0].columnReferencesFiltered )
    #if(${model[0].isIdColumn($columnReference)})
    @Id
    #if(${model[0].generateIdAnnotation})
    @GeneratedValue(strategy = GenerationType.AUTO)
    #end
    #end
    @Column(name = "${columnReference.columnName}"#if(${columnReference.nullable}), nullable=false#end#if(${columnReference.generateColumnLength}), length=${columnReference.columnSize}#end)
    private ${columnReference.javaType} ${columnReference.javaFieldName};

    #end
}