import { NidocaInputfield, InputfieldType } from '@domoskanonos/nidoca-core';
import { customElement } from 'lit-element';
import {${model.typescriptRemoteRepositoryName}} from "../../repo/${model.typescriptRemoteRepositoryFilename}";

@customElement('${model.getComboboxComponentTagName()}')
export class ${model.typescriptModelName}Combobox extends NidocaInputfield {
   constructor() {
      super();
      this.inputfieldType = InputfieldType.COMBOBOX;
         ${model.typescriptRemoteRepositoryName}.getUniqueInstance()
         .getAll()
         .then((value) => {
            this.options = NidocaInputfield.object2KeyValueDataArray(
               value,
               'id',
               'id',
               true
            );
         });
   }
}
