import { NidocaInputfield, InputfieldType } from '@domoskanonos/nidoca-core';
import { customElement } from 'lit-element';
import {${model.typescriptRemoteRepositoryName}} from '${model.typescriptRemoteRepositoryPath}';

@customElement('${model.getNidocaComponentComboboxTagName()}')
export class ${model.typescriptModelName}Combobox extends NidocaInputfield {
   constructor() {
      super();
      this.inputfieldType = InputfieldType.COMBOBOX;
      this.multiple = true;
      this.optionKeyField = "id";
      this.optionValueField = "id";
         ${model.typescriptRemoteRepositoryName}.getUniqueInstance()
         .getAll()
         .then((value) => {
             this.options = value;
             this.size = this.options.length;
         });
   }
}
