#set( $escapeDollar = '$' )
import {customElement, html, property, TemplateResult} from 'lit-element';
import { I18nService } from "@domoskanonos/frontend-basis";
import {InputfieldType} from "@domoskanonos/nidoca-core";
import {NidocaAbstractComponentEdit} from '@domoskanonos/nidoca-app';
import {${model.typescriptModelName}} from '${model.typescriptModelPath}';
import {${model.typescriptRemoteRepositoryName}} from "../repo/${model.typescriptRemoteRepositoryFilename}";

@customElement('${model.getEditComponentTagName()}')
export class ${model.typescriptModelName}EditComponent extends NidocaAbstractComponentEdit<${model.typescriptModelName}> {

    getDialogDeleteTitle(): string {
        return I18nService.getUniqueInstance().getValue("${model.getI18nEditDialogDeleteTitleKey()}");
    }

    getDialogDeleteDescription(): string {
        return I18nService.getUniqueInstance().getValue("${model.getI18nEditDialogDeleteDescriptionKey()}");
    }

    async getItemById(identifier: any): Promise<${model.typescriptModelName}> {
        return ${model.typescriptRemoteRepositoryName}.getUniqueInstance().findById(identifier);
    }

    async executeSave(item: ${model.typescriptModelName}): Promise<${model.typescriptModelName}> {
        return ${model.typescriptRemoteRepositoryName}.getUniqueInstance().persist(item);
    }

    async executeUpdate(identifier:any, item: ${model.typescriptModelName}): Promise<${model.typescriptModelName}> {
        return ${model.typescriptRemoteRepositoryName}.getUniqueInstance().update(identifier, item);
    }

    async executeDelete(identifier: any): Promise<void> {
        return ${model.typescriptRemoteRepositoryName}.getUniqueInstance().delete(identifier);
    }

    #foreach( $property in $model.properties )
    #if(!${property.idProperty})
    @property()
    ${property.name} : ${property.propertyType.typescriptType} = ${property.propertyType.typescriptInitValue};
    #end
    #end

    renderFormFields(): TemplateResult {
        return html`
            #foreach( $property in $model.properties )
            #if(!${property.idProperty})
            <nidoca-inputfield
                    .value="$escapeDollar{this.${property.name}}"
                    name="${property.name}"
                    inputfieldType="${property.propertyType.typescriptNidocaInputfieldType}"
                    label="$escapeDollar{I18nService.getUniqueInstance().getValue('${property.getI18nKey()}')}"
            ></nidoca-inputfield>
            #end
            #end
        `;
    }

    itemToProperties(${model.typescriptModelNameToLowerCase}: ${model.typescriptModelName}): void {
        #foreach( $property in $model.properties )
        #if(!${property.idProperty})
        this.${property.name} = ${model.typescriptModelNameToLowerCase}.${property.name};
        #end
        #end
    }

    getIdentifier(${model.typescriptModelNameToLowerCase}: ${model.typescriptModelName}): any {
        return ${model.typescriptModelNameToLowerCase}.${model.getIdFieldName()};
    }


}
