#set( $escapeDollar = '$' )
import {
NidocaAbstractComponentSearchList
} from '@domoskanonos/nidoca-app';
import { PageableContainer, RouterService, I18nService } from '@domoskanonos/frontend-basis';
import { customElement, html, TemplateResult } from 'lit-element';
import {
TypographyType,
FlexJustifyContent,
FlexAlignItems,
SpacerAlignment,
SpacerSize,
FlexContainerProperties
} from '@domoskanonos/nidoca-core';
import {${model.typescriptRemoteRepositoryName}} from '../repo/${model.filename}';
import {${model.typescriptModelName}} from '${model.typescriptModelPath}';

@customElement('${model.getSearchNidocaListTagName()}')
export class ${model.typescriptModelName}SearchNidocaList extends NidocaAbstractComponentSearchList<${model.typescriptModelName}> {

    async executeSearch(search: string): Promise<${model.typescriptModelName}[]> {
        let pageableContainer: PageableContainer<${model.typescriptModelName}> = await ${model.typescriptRemoteRepositoryName}.getUniqueInstance().search(
            0,
            this.resultSize,
            '', ''
            #foreach( $property in $model.properties )
                #set( $isNotIdField = !${property.idProperty} )
                #set( $isString = ${property.propertyType.typescriptType} == "string" )
                #if($isNotIdField && $isString)
                .concat('&${property.name}=')
                .concat(search)
                #end
            #end
        );
        return pageableContainer.content;
    }

    renderListItem(${model.typescriptModelNameToLowerCase}: ${model.typescriptModelName}) : TemplateResult {
        return html`
    <nidoca-spacer
    .spacerSize="${SpacerSize.MEDIUM}"
    spacerAlignment="${SpacerAlignment.VERTICAL}"
    ></nidoca-spacer>
    <nidoca-spacer
    .spacerSize="${SpacerSize.MAX}"
    spacerAlignment="${SpacerAlignment.HORIZONTAL}"
    >
        <nidoca-flex-container
        .flexContainerProperties="${[FlexContainerProperties.CONTAINER_WIDTH_100]}"
        itemFlexBasisValue="100%"
        .justifyContent="${FlexJustifyContent.FLEX_START}"
        .alignItems="${FlexAlignItems.CENTER}"
        >
            #foreach( $property in $model.properties )
            <nidoca-typography .typographyType="${TypographyType.BODY1}" text="$escapeDollar{${model.typescriptModelNameToLowerCase}.${property.name}}"></nidoca-typography>
            #end
        </nidoca-flex-container>
    </nidoca-spacer>
    <nidoca-spacer
    .spacerSize="${SpacerSize.MEDIUM}"
    spacerAlignment="${SpacerAlignment.VERTICAL}"
    ></nidoca-spacer>
      `;
    }

    itemClicked(${model.typescriptModelNameToLowerCase}: ${model.typescriptModelName}, index: number): void {
        console.debug("${model.typescriptModelName} list item clicked, index= {0}", index);
        RouterService.getUniqueInstance().navigate('${model.getModelEditPageUrl()}',{ 'id' : ${model.typescriptModelNameToLowerCase}.${model.getIdFieldName()}});
    }

   renderNoRecord(): TemplateResult {
      return html`
         <nidoca-flex-container
            .flexContainerProperties="${[FlexContainerProperties.CONTAINER_WIDTH_100]}"
            itemFlexBasisValue="auto"
            .flexJustifyContent="${FlexJustifyContent.SPACE_AROUND}"
            .alignItems="${FlexAlignItems.CENTER}"
         >
            <nidoca-spacer
               .spacerSize="${SpacerSize.BIG}"
               spacerAlignment="${SpacerAlignment.BOTH}"
            >
               <nidoca-typography
                  .typographyType="${TypographyType.BUTTON}"
                  text="${I18nService.getUniqueInstance().getValue(
                     'no_entry_found'
                  )}"
               ></nidoca-typography>
            </nidoca-spacer>
         </nidoca-flex-container>
      `;
   }

   async deleteItems(${model.typescriptModelNameToLowerCase}s: ${model.typescriptModelName}[]): Promise<void> {
        ${model.typescriptModelNameToLowerCase}s.forEach((${model.typescriptModelNameToLowerCase}) => {
             console.log('delete ${model.typescriptModelNameToLowerCase} with id: {}', ${model.typescriptModelNameToLowerCase}.id);
        ${model.typescriptRemoteRepositoryName}.getUniqueInstance().delete(${model.typescriptModelNameToLowerCase}.id);
        });
   }

}
