<html>
<div style="font-family: ${fontFamily}; font-size:50pt;">Spring Boot Environmental Properties</div>

<table>
    <tr>
        <td>key</td>
        <td>value</td>
    </tr>
    #foreach (${mapEntry} in ${map.entrySet()})
        <tr>
            <td>${mapEntry.key}</td>main
            <td>${mapEntry.value}</td>
        </tr>
    #end
</table>

</html>