#set( $escapeDollar = '$' )
import { I18nService } from "@domoskanonos/frontend-basis";
import { InputfieldType } from "@domoskanonos/nidoca-core";
import {
NidocaAbstractComponentEdit
} from '@domoskanonos/nidoca-app';
import {customElement, html, property, TemplateResult} from 'lit-element';
import {${model.getModelName()}} from '../../model/${model.getModelNameLowerCase()}-model';
import {${model.getModelName()}RemoteRepository} from "../../repo/${model.getModelNameLowerCase()}-remote-repository";

@customElement('${model.getEditComponentTagName()}')
export class ${model.getModelName()}EditComponent extends NidocaAbstractComponentEdit<${model.getModelName()}> {

    getDialogDeleteTitle(): string {
        return I18nService.getUniqueInstance().getValue("${model.getI18nEditDialogDeleteTitleKey()}");
    }

    getDialogDeleteDescription(): string {
        return I18nService.getUniqueInstance().getValue("${model.getI18nEditDialogDeleteDescriptionKey()}");
    }

    async getItemById(identifier: any): Promise<${model.getModelName()}> {
        return ${model.getModelName()}RemoteRepository.getUniqueInstance().findById(identifier);
    }

    async executeSave(item: ${model.getModelName()}): Promise<${model.getModelName()}> {
        return ${model.getModelName()}RemoteRepository.getUniqueInstance().persist(item);
    }

    async executeUpdate(identifier:any, item: ${model.getModelName()}): Promise<${model.getModelName()}> {
        return ${model.getModelName()}RemoteRepository.getUniqueInstance().update(identifier, item);
    }

    async executeDelete(identifier: any): Promise<void> {
        return ${model.getModelName()}RemoteRepository.getUniqueInstance().delete(identifier);
    }

    #foreach( $property in $clazzTypescriptWrapper.properties )
    #if(!${property.idField})
    @property()
    ${property.fieldName} : ${property.typeName} = ${property.defaultValue};
    #end
    #end

    renderFormFields(): TemplateResult {
        return html`
            #foreach( $property in $clazzTypescriptWrapper.properties )
            #if(!${property.idField})
            <nidoca-inputfield
                    ${property.wcAtomicInputfieldValueProperty}="$escapeDollar{this.${property.fieldName}}"
                    name="${property.fieldName}"
                    inputfieldType="${property.wcAtomicInputfieldType}"
                    label="$escapeDollar{I18nService.getUniqueInstance().getValue('${property.getI18nKey()}')}"
            ></nidoca-inputfield>
            #end
            #end
        `;
    }

    itemToProperties(${model.getModelNameLowerCase()}: ${model.getModelName()}): void {
        #foreach( $property in $clazzTypescriptWrapper.properties )
        #if(!${property.idField})
        this.${property.fieldName} = ${model.getModelNameLowerCase()}.${property.fieldName};
        #end
        #end
    }

    getIdentifier(${model.getModelNameLowerCase()}: ${model.getModelName()}): any {
        return ${model.getModelNameLowerCase()}.${model.getIdFieldName()};
    }


}
