package ${packageName};

import lombok.*;

import org.springframework.data.elasticsearch.annotations.Document;

@Document(indexName = "${indexName}", createIndex = false)
@Data
@ToString
@EqualsAndHashCode
public class ${javaClazzSimpleName} {
#foreach( $property in $properties )

    private ${property.type} ${property.name};
#end

}