package ${model.javaRepositoryPackageName};

import ${model.javaJPAClazzName};

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;

@Repository
public interface  ${model.javaRepositoryClazzSimpleName} extends JpaRepository<${model.javaJPAClazzSimpleName}, ${model.idTypeEnum.javaTypeSimpleName}> {

}

