package ${model.javaPackageName};

import ${model.javaPackageName}.${model.javaJPAClazzSimpleName};

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;

@Repository
public interface ${model.javaClazzSimpleName} extends JpaRepository<${model.javaJPAClazzSimpleName}, ${model.idTypeEnum.javaTypeName}> {

}

