package ${packageName};

import lombok.*;

import org.springframework.data.elasticsearch.annotations.Document;

@Document(indexName = "${indexName}", createIndex = false)
@Data
@ToString
@EqualsAndHashCode
public class ${clazzSimpleName} {
#foreach( $propertie in $properties )

    private ${propertie.type} ${propertie.name};
#end

}