#set( $escapeDollar = '$' )
import {customElement} from 'lit-element';
import {
NidocaAbstractPageSearchList
} from '@domoskanonos/nidoca-app';
import {I18nService} from "@domoskanonos/frontend-basis";
import {${model.getModelName()}SearchNidocaList} from '../../components/${model.getModelNameLowerCase()}/search-list';

@customElement('${model.getNidocaPageListTagName()}')
export class ${model.getModelName()}SearchListPage extends NidocaAbstractPageSearchList {

   constructor() {
      super(new ${model.getModelName()}SearchNidocaList());
   }

   getNavigationTitle(): string {
      return I18nService.getUniqueInstance().getValue('${model.getI18nSearchListPageTitleKey()}');
   }

   getAddTitle(): string {
      return I18nService.getUniqueInstance().getValue('${model.getI18nAddKey()}');
   }

   getEditPageUrl(): string {
      return '${model.nidocaPageEditUrl}';
   }
}
