#set( $escapeDollar = '$' )
import { customElement, html, query, TemplateResult } from 'lit-element';
import {DefaultPage} from "../page-default";
import {
   I18nService,
   RouterService
} from '@domoskanonos/frontend-basis';
import {
NidocaAbstractComponentEdit
} from '@domoskanonos/nidoca-app';
import {${model.typescriptModelName}} from "${model.typescriptModelPath}";

@customElement('${model.getEditPageTagName()}')
export class ${model.typescriptModelName}EditPage extends DefaultPage {

   constructor() {
      super();
      this.navigationTitle = I18nService.getUniqueInstance().getValue(
         '${model.getI18nEditPageTitleKey()}'
      );
   }

   @query('#editComponent')
   editComponent: NidocaAbstractComponentEdit<${model.typescriptModelName}> | undefined;

   getTopRightComponent(): TemplateResult {
      return html`
         <nidoca-icon
            title="$escapeDollar{I18nService.getUniqueInstance().getValue('cancel')}"
            slot="rightComponents"
            icon="$escapeDollar{RouterService.getUniqueInstance().getStateProperty('id') != null
               ? 'arrow_back'
               : 'cancel'}"
            clickable="true"
            @nidoca-event-icon-clicked="${() =>
               RouterService.getUniqueInstance().back()}"
         ></nidoca-icon>
         <nidoca-icon
            title="$escapeDollar{I18nService.getUniqueInstance().getValue('save')}"
            .rendered="${true}"
            slot="rightComponents"
            icon="save"
            clickable="true"
            @nidoca-event-icon-clicked="${() => this.save()}"
         ></nidoca-icon>
         <nidoca-icon
            title="$escapeDollar{I18nService.getUniqueInstance().getValue('delete')}"
            .rendered="$escapeDollar{RouterService.getUniqueInstance().getStateProperty(
               'id'
            ) != null}"
            slot="rightComponents"
            icon="delete"
            clickable="true"
            @nidoca-event-icon-clicked="${() => this.delete()}"
         ></nidoca-icon>
      `;
   }

   getMainComponent(): TemplateResult {
      return html`
         <${model.getEditComponentTagName()}  id="editComponent"></${model.getEditComponentTagName()}>
      `;
   }

   private save() {
      if (this.editComponent?.identifier == null) {
         this.editComponent?.saveItem();
      } else {
         this.editComponent?.updateItem();
      }
   }

   private delete() {
      if (this.editComponent) {
         this.editComponent.showDeleteDialog = true;
      }
   }

}
