#set( $escapeDollar = '$' )
import {customElement} from 'lit-element';
import {
NidocaAbstractPageSearchList
} from '@domoskanonos/nidoca-app';
import {I18nService} from "@domoskanonos/frontend-basis";
import {${model.typescriptModelName}SearchNidocaList} from '../${model.typescriptNidocaComponentListImport}';

@customElement('${model.getNidocaPageListTagName()}')
export class ${model.typescriptModelName}SearchListPage extends NidocaAbstractPageSearchList {

   constructor() {
      super(new ${model.typescriptModelName}SearchNidocaList());
   }

   getNavigationTitle(): string {
      return I18nService.getUniqueInstance().getValue('${model.i18nNavigationEditName}');
   }

   getAddTitle(): string {
      return I18nService.getUniqueInstance().getValue('${model.getI18nAddKey()}');
   }

   getEditPageUrl(): string {
      return '${model.getModelEditPageUrl()}';
   }
}
