package ${model.javaPackageName};

import java.util.Collection;
import java.util.List;
import java.util.stream.Collectors;
import org.springframework.beans.BeanUtils;

import ${model.jpaJavaClazzName};
import ${model.javaJPAClazzName};

import org.springframework.stereotype.Component;

@Component
public class ${model.javaJPAClazzName} {

    public ${model.javaJPAClazzSimpleName} toEntity(${model.javaDTOClazzSimpleName} source)
    {
        ${model.javaJPAClazzSimpleName} dest = new ${model.javaJPAClazzSimpleName}();
        BeanUtils.copyProperties(source, dest);
        return dest;
    }

    public ${model.javaDTOClazzSimpleName} toDTO(${model.javaJPAClazzSimpleName} source)
    {
        ${model.javaDTOClazzSimpleName} dest = new ${model.javaDTOClazzSimpleName}();
        BeanUtils.copyProperties(source, dest);
        return dest;
    }

    public List<${model.javaDTOClazzSimpleName}> toDTOs(Collection<${model.javaJPAClazzSimpleName}> sources) {
        return sources.stream().map(source -> toDTO(source)).collect(Collectors.toList());
    }

    public List<${model.javaJPAClazzSimpleName}> toEntities(Collection<${model.javaDTOClazzSimpleName}> sources) {
        return sources.stream().map(source -> toEntity(source)).collect(Collectors.toList());
    }



}