package ${model.javaPackageName};

import java.util.Collection;
import java.util.List;
import java.util.stream.Collectors;
import org.springframework.beans.BeanUtils;

import ${model.subItems[0].javaClazzName};
import ${model.subItems[1].javaClazzName};

import org.springframework.stereotype.Component;

@Component
public class ${model.javaClazzSimpleName} {

    public ${model.subItems[0].javaClazzSimpleName} toEntity(${model.subItems[1].javaClazzSimpleName} source)
    {
        ${model.subItems[0].javaClazzSimpleName} dest = new ${model.subItems[0].javaClazzSimpleName}();
        BeanUtils.copyProperties(source, dest);
        return dest;
    }

    public ${model.subItems[1].javaClazzSimpleName} toDTO(${model.subItems[0].javaClazzSimpleName} source)
    {
        ${model.subItems[1].javaClazzSimpleName} dest = new ${model.subItems[1].javaClazzSimpleName}();
        BeanUtils.copyProperties(source, dest);
        return dest;
    }

    public List<${model.subItems[1].javaClazzSimpleName}> toDTOs(Collection<${model.subItems[0].javaClazzSimpleName}> sources) {
        return sources.stream().map(source -> toDTO(source)).collect(Collectors.toList());
    }

    public List<${model.subItems[0].javaClazzSimpleName}> toEntities(Collection<${model.subItems[1].javaClazzSimpleName}> sources) {
        return sources.stream().map(source -> toEntity(source)).collect(Collectors.toList());
    }



}