package ${packageName};

import org.springframework.data.elasticsearch.repository.ElasticsearchRepository;

public interface ${clazzSimpleName} extends ElasticsearchRepository<${documentClazzName}, ${idClazz}> {

}

