package ${model.packageName};

import lombok.RequiredArgsConstructor;
import org.springframework.stereotype.Service;

import ${model.subItems[0].javaClazzName};
import ${model.subItems[1].javaClazzName};
import ${model.subItems[2].javaClazzName};
import ${model.subItems[3].javaClazzName};

import javax.persistence.*;

import java.util.*;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

/**
 *
 * This service class provides basic functionality for the hibernate entity <code>${model.subItems[0].javaClazzSimpleName}</code>.
 * The return value of each function always returns a mapped <code>${model.subItems[1].javaClazzSimpleName}</code> object,
 * instead of the original hibernate entity.
 *
 */
@Service
@RequiredArgsConstructor
public class ${serviceClazzName} {

    private Logger log = LoggerFactory.getLogger(this.getClass().getSimpleName());

    private final EntityManager em;

    private final ${model.subItems[3].javaClazzSimpleName} repository;

    private final ${model.subItems[2].javaClazzSimpleName} mapping;

    /**
     * get a list of all available database <code>${model.subItems[0].javaClazzSimpleName}</code> object's, mapped to <code>${model.subItems[1].javaClazzSimpleName}</code> objects.
     *
     * @return a list of <code>${model.subItems[1].javaClazzSimpleName}'s</code>
     *
     */
    public List<${model.subItems[1].javaClazzSimpleName}> findAll() {
        log.debug("findAll");
        return mapping.toDTOs(repository.findAll());
    }

    /**
     * Find hibernate entity of type <code>${model.subItems[0].javaClazzSimpleName}</code> by id, mapped to <code>${model.subItems[1].javaClazzSimpleName}</code>.
     *
     * @param id of hibernate entity
     * @return optional object of type <code>Optional<${model.subItems[1].javaClazzSimpleName}></code>
     */
    public Optional<${model.subItems[1].javaClazzSimpleName}> findById(${idClazz} id) {
        log.debug("findById: {}", id);
        Optional<${model.subItems[0].javaClazzSimpleName}> entityOptional = repository.findById(id);
        return entityOptional.isPresent() ? Optional.of(mapping.toDTO(entityOptional.get())) : Optional.ofNullable(null);
    }

    /**
     * save or update an <code>${model.subItems[0].javaClazzSimpleName}</code> object, mapped from <code>${model.subItems[1].javaClazzSimpleName}</code> object.
     *
     * @param dto to save or update
     * @return new saved or updated object as <code>${model.subItems[1].javaClazzSimpleName}</code>
     */
    public ${model.subItems[1].javaClazzSimpleName} save(${model.subItems[1].javaClazzSimpleName} dto) {
        log.debug("save or update object: {}", dto);
        return mapping.toDTO(repository.save(mapping.toEntity(dto)));
    }

    /**
     * delete hibernate entity by id.
     *
     * @param id
     */
    public void deleteById(${model.javaIdClazzSimpleName} id) {
        log.debug("delete by id: {}", id);
        repository.deleteById(id);
    }

}