
import java.text.SimpleDateFormat;
import java.util.Date;

import org.springframework.scheduling.annotation.Scheduled;
import org.springframework.stereotype.Component;

/**
*
* ${javaClazzSimpleName} scheduled with cron expression: ${cron}
*
*/
@Component
public class ${javaClazzSimpleName} {

    private static final Logger log = LoggerFactory.getLogger(${javaClazzSimpleName}.class);

    private static final SimpleDateFormat dateFormat = new SimpleDateFormat("HH:mm:ss");

    @Scheduled(cron = "${cron}")
    public void run() {
        log.info("run ${javaClazzSimpleName}: " + dateFormat.format(new Date()));
        //TODO:
        log.info("${javaClazzSimpleName} stopped: " + dateFormat.format(new Date()));
    }

}