export class ${model.objects[0].typescriptModelName} {
#foreach( $property in $properties )
    ${property.name} : ${property.propertyType.typescriptType} = ${property.propertyType.typescriptInitValue};
#end
}