import {HttpClientService, BasicRemoteRepository} from "@domoskanonos/frontend-basis";
import {${model.typescriptModelName}} from "${model.typescriptModelPath}";

export class ${model.typescriptRemoteRepositoryName} extends BasicRemoteRepository<${model.typescriptModelName}, ${model.typescriptType}> {

    private static uniqueInstance: ${model.typescriptRemoteRepositoryName};

    constructor() {
        super(HttpClientService.getUniqueInstance(),"${model.javaRestControllerPrefix}");
    }

    static getUniqueInstance() {
        if (!${model.typescriptRemoteRepositoryName}.uniqueInstance) {
            ${model.typescriptRemoteRepositoryName}.uniqueInstance = new ${model.typescriptRemoteRepositoryName}();
        }
        return ${model.typescriptRemoteRepositoryName}.uniqueInstance;
    }

}