package ${packageName};

import ${entityClazzPackageName}.${jpaClazzSimpleName};

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;

@Repository
public interface ${clazzSimpleName} extends JpaRepository<${jpaClazzSimpleName}, ${idClazz}> {

}

