package ${packageName};

import ${entityClazzPackageName}.${model.javaJPAClazzSimpleName};

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;

@Repository
public interface ${clazzSimpleName} extends JpaRepository<${model.javaJPAClazzSimpleName}, ${idClazz}> {

}

