import {BasicEnumRepository} from "@domoskanonos/frontend-basis";

export class ${model.typescriptEnumRepositoryName} extends BasicEnumRepository {

    private static uniqueInstance: ${model.typescriptEnumRepositoryName};

    static getUniqueInstance() {
        if (!${model.typescriptEnumRepositoryName}.uniqueInstance) {
            ${model.typescriptEnumRepositoryName}.uniqueInstance = new ${model.typescriptEnumRepositoryName}();
        }
        return ${model.typescriptEnumRepositoryName}.uniqueInstance;
    }

}