export class ${model.typescriptRemoteServiceName} {

    private static uniqueInstance: ${model.typescriptRemoteServiceName};

    constructor() {
    }

    static getUniqueInstance() {
        if (!${model.typescriptRemoteServiceName}.uniqueInstance) {
            ${model.typescriptRemoteServiceName}.uniqueInstance = new ${model.typescriptRemoteServiceName}();
        }
        return ${model.typescriptRemoteServiceName}.uniqueInstance;
    }

}