package ${model.javaJPAPackageName};

import lombok.*;

import javax.persistence.*;
import java.util.Date;
import java.math.BigDecimal;

#if($model.useJPAIdClazz)@IdClass(${model.idPropertyType.javaTypeSimpleName}.class)#end
@Entity
@Table(name = "${model.tableName}")
@Data
@ToString
@Builder(toBuilder = true)
@EqualsAndHashCode
@NoArgsConstructor
@AllArgsConstructor
public class ${model.javaJPAClazzSimpleName} {
#foreach( $property in $model.properties )
    ${property.jpaPropertyAnnotations}
    private #if(${property.propertyType.javaTypeSimpleName}=='TYPE_DATE_ISO8601')Date#else${property.propertyType.javaTypeSimpleName}#end ${property.name};
#end

}